[[local|localrc]]
HOST_IP={{ ansible_host }}
MULTI_HOST=true
LOGFILE=stack.sh.log

ADMIN_PASSWORD=devstack
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SWIFT_HASH=supersecretpasswordhash123

enable_service n-api n-cond n-sch n-cpu
enable_service g-api g-reg
enable_service key
enable_service horizon
enable_service q-svc q-dhcp q-meta q-l3
disable_service q-agt
enable_service trove tr-api tr-tmgr tr-cond
enable_service s-proxy s-object s-container s-account
