[[local|localrc]]
HOST_IP=172.31.11.89
MULTI_HOST=true
LOGFILE=stack.sh.log

ADMIN_PASSWORD=devstack
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SWIFT_HASH=supersecretpasswordhash123

# Disable legacy neutron services
disable_service q-agt
disable_service q-l3
disable_service q-dhcp
disable_service q-meta

# Enable OVN services
enable_service ovn-northd
enable_service ovn-controller
enable_service ovn-metadata-agent

# Enable controller services
enable_service n-api
enable_service n-cond
enable_service n-sch
enable_service g-api
enable_service g-reg
enable_service key
enable_service horizon
enable_service s-proxy s-object s-container s-account
enable_service trove tr-api tr-tmgr tr-cond