[[local|localrc]]
HOST_IP=compute_ip
SERVICE_HOST=controller_ip
MULTI_HOST=true
LOGFILE=stack.sh.log
ENABLE_HTTPD_MOD_WSGI_SERVICES=False
KEYSTONE_USE_MOD_WSGI=False

ADMIN_PASSWORD=devstack
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD
SWIFT_HASH=supersecretpasswordhash123

# Disable legacy neutron services
disable_service q-agt
disable_service q-l3
disable_service q-dhcp
disable_service q-meta

# Enable OVN compute services
enable_service ovn-controller
enable_service ovn-metadata-agent
enable_service n-cpu